.DS_Store
*.[56789ao]
*.a[56789o]
*.so
*.pyc
._*
.nfs.*
[56789a].out
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go
build.out
test.out
alt/*.[56789u]
alt/*.out
alt/*.ext
alt/*.out.s
alt/*.ext.s
alt/*.go.s
alt/*.o.s
alt/*.dat
alt/*.rel
alt/*.readelf
alt/*.dwarf
alt/*.go.ext.tmp/
new/*.u
new/*.go.s
new/*.out
new/*.out.s
new/*.objdump
new/*.rel
new/*.readelf
new/*.gnu.s
new/*.dwarf
new/*.out.tmp/
test2/*.u
test2/*.go.s
test2/*.out
test2/*.out.s
test2/*.in
test2/*.in.s
test2/*.objdump
test2/*.rel
test2/*.readelf
test2/*.gnu.s
test2/*.out.tmp/
doc/articles/wiki/*.bin
misc/cgo/life/run.out
misc/cgo/stdio/run.out
misc/cgo/testso/main
src/cmd/**/y.output
src/cmd/cgo/zdefaultcc.go
src/cmd/go/zdefaultcc.go
src/cmd/internal/obj/zbootstrap.go
src/go/build/zcgo.go
src/go/doc/headscan
src/runtime/internal/sys/zversion.go
src/unicode/maketables
src/*.*/
test/pass.out
test/run.out
test/times.out
test/garbage/*.out
goinstall.log
last-change
VERSION.cache

bin/
pkg/
